# commit to be tagged for the new release
commit = "HEAD"

project_name = "theila"
github_repo = "siderolabs/theila"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"

pre_release = true
previous = "v0.1.1"

[notes]

  [notes.ui]

    title = "The New UI"
    description = """\
Sidero UI is getting the next iteration of the design.
The color scheme was aligned to the new Sidero company color scheme.

Main changes UX-wise:
- all clusters are now placed in the context dropdown: both kubeconfig clusters and CAPI clusters.
- now it is possible to see Kubernetes upgrades history (dropped after theila restart as of now).
- pod information has got more details.
- servers list is now also available for CAPI clusters.
- now the UI provides summary page for cluster resources usage.
"""
